body {
    margin: 0;
    background-color: black;
    display: flex;         /* Lägg flex även här för säkerhets skull */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;    /* Centrerar kartan horisontellt */
    justify-content: center; /* Centrerar kartan vertikalt */
    min-height: 100vh;
    /* background-color: #111;  En mörkgrå färg så du ser kontrasten mot svarta banan */
}

canvas {
    display: block;
    width: 100%;
    /* Ta bort ev. position: absolute om det finns i CSS:en också */
}

#mobileControls {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#mobileControls button {
    font-size: 24px;
    width: 100px;
    height: 60px;
    padding: 15px 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: #333;
    color: white;
}

@media (max-width: 650px) {
    #mobileControls {
        z-index: 1000;
        display: block;
        min-width: 350px;
    }
    main {
        margin-left: 5px;
        justify-content: flex-start;
    }

    #gameUi {
        top: 210px;
    }
}