* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: black;
    display: flex;         /* Lägg flex även här för säkerhets skull */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;    /* Centrerar kartan horisontellt */
    justify-content: center; /* Centrerar kartan vertikalt */
    min-height: 100vh;
    /* background-color: #111;  En mörkgrå färg så du ser kontrasten mot svarta banan */
}

canvas {
    display: block;
    width: 100%;
    /* Ta bort ev. position: absolute om det finns i CSS:en också */
}

span {
    font-size: 16px;
}

.span-number {
    padding-right: 20px;
}

#ui-overlay {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding: 15px;
    gap: 15px;
    margin: 15px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border: 5px solid rgba(255, 61, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0px 5px 15px 1px rgba(255, 61, 255, 0.5), inset 0px 5px 15px 1px rgba(255, 61, 255, 0.5);
    width: 350px;
    height: auto;
    z-index: 1000;
}

button{
    margin: 15px;
    color: white;
    background-color: rgba(255, 61, 255, 0.5);
    /* border: 2px solid rgba(255, 61, 255, 0.5); */
    box-shadow: 0px 5px 15px 1px rgba(255, 61, 255, 0.5);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.2s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 128, 255, 0.5);
    transform: translateY(-2px);
}

button:active {
    background-color: rgba(235, 1, 235, 0.5);
    transform: translateY(0px);
}

.hidden {
    display: none !important;
}

#mobileControls {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#mobileControls button {
    font-size: 24px;
    width: 100px;
    height: 60px;
    padding: 15px 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: #333;
    color: white;
}

@media (max-width: 650px) {
    #mobileControls {
        z-index: 1000;
        display: block;
        min-width: 350px;
    }
    main {
        justify-content: flex-start;
    }

    #gameUi {
        top: 210px;
    }
}